#map{
  height: 700px;
  width: 700px;
  background-color: green;
}



.clockButons{
  display: flex;
  width: 100%;
  flex-direction: row;
}








.header{
  height: 150px;
  /*background: green;*/
  font-family: 'Pacifico', cursive;
  color: black;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}




.page{
  height: 700px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}


#clock{
  width: 200px;
  height: 50px;
  background-color: green;
  align-self: center;
  text-align: center;
}


.clockPanel{
  display: flex;
  flex-direction: column;
  height: 300px;
  align-self: center;
  margin-right: 5px;
}


.start-clock{
  height: 50px;
  /*width: 100%;*/
  background-color: blue;
  font-size: 14px;

}

.pause-clock{
  height: 50px;
  /*width: 100%;*/
  background-color: red;
  font-size: 14px;
}
